#divContenedorCatalogo{position: absolute;border:1px solid #FF0000;}
#divArbol{border:1px solid blue;height:99.7%;float:left;margin:2px 2px 2px 0px;}
#divCatalogo{border:1px solid green;height:99.7%;float:left;margin:2px;}
#divCatalogoDetalle{border:1px solid green;height:99.7%;float:left;margin:2px;}